
.family
 {
background-color:tomato;
color: white;
padding: 15px;
}
.main
{
text-align:center;
}


ul {
list-style-type:none;
margin:0;
padding:0;
overflow:hidden;
background-color:yellow;
}
li {
float:left;
}

li a {
display:flow-root;
color:seagreen;
text-align:center;
padding:15px;
text-decoration:Underline;
}

li a:hover {
background-color:#ebcd34
}



body{
background-color:orange;
}